<div class="row">
  <div class="col-md-6">
    <h2>ตำบล / แขวง</h2>
    {{#power-select-typeahead search=(action 'searchBySubDistrict')
      selected=address
      noMatchesMessage='Not found'
      oninput=(action "skipShortSearches")
      onchange=(action (mut address))
      extra=(hash labelPath="district")
      as |item select|}}
      {{highlight-substr item.district select.lastSearchedText}} » {{item.amphoe}} » {{item.province}} » {{item.zipcode}}
    {{/power-select-typeahead}}
  </div>
  <div class="col-md-6">
    <h2>อำเภอ / เขต</h2>
    {{#power-select-typeahead search=(action 'searchByDistrict')
      selected=address
      noMatchesMessage='Not found'
      oninput=(action "skipShortSearches")
      onchange=(action (mut address))
      extra=(hash labelPath="amphoe")
      as |item select|}}
      {{item.district}} » {{highlight-substr item.amphoe select.lastSearchedText}} » {{item.province}} » {{item.zipcode}}
    {{/power-select-typeahead}}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>จังหวัด</h2>
    {{#power-select-typeahead search=(action 'searchByProvince')
      selected=address
      noMatchesMessage='Not found'
      oninput=(action "skipShortSearches")
      onchange=(action (mut address))
      extra=(hash labelPath="province")
      as |item select|}}
      {{item.district}} » {{item.amphoe}} » {{highlight-substr item.province select.lastSearchedText}} » {{item.zipcode}}
    {{/power-select-typeahead}}
  </div>
  <div class="col-md-6">
    <h2>รหัสไปรษณีย์</h2>
    {{#power-select-typeahead search=(action 'searchByZipCode')
      selected=address
      noMatchesMessage='Not found'
      oninput=(action "skipShortSearches")
      onchange=(action (mut address))
      extra=(hash labelPath="zipcode")
      as |item select|}}
      {{item.district}} » {{item.amphoe}} » {{item.province}} » {{highlight-substr item.zipcode select.lastSearchedText}}
    {{/power-select-typeahead}}
  </div>
</div>

